# Redis Configuration
# REDIS_ADDR="redis:6379"
REDIS_ADDR="localhost:6379"
REDIS_PASSWORD=""
REDIS_DB=0

# IP Rate Limiter Configuration
IP_REQUESTS_PER_SECOND=50
IP_BLOCK_DURATION_SECONDS=300 # 5 minutes

# Token Rate Limiter Configuration
# Format: TOKEN1:LIMIT1,TOKEN2:LIMIT2
TOKEN_LIMITS="token1:4,token2:50"
TOKEN_BLOCK_DURATION_SECONDS=600 # 10 minutes